.spacer{
    flex: 1 1 auto;
}
.toolbarColor{
    background-color: rgba(125, 220, 146, 0.7);
}
.icon{
    padding: 0 14px;
}
.example-container {
    height: 100%;
    width: 100%;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    background-color: rgba(145, 216, 238, 0.7);
  }
