.spacer{
  flex: 1 1 auto; 
}

.toolbarColor{
  background-color: rgba(125, 220, 146, 0.7);
}
.sidenav-container {
  height: 100%;
  width: 100%;
}
  
.sidenav {
  width: 200px;
  background-color: rgba(145, 216, 238, 0.7);
}

.sidenav-title {
  padding: 20px;
  text-align: center;
  font-size: 20px;
}

.mat-list-base {
  padding: 0;
}

.mat-list-item {
  font-size: 14px;
  font-weight: 500;
}

.sidenav-icon {
  padding-right: 10px;
}

.mat-nav-list .sidenav-item-selected, .toolbar-item-selected {
  background: rgba(0, 0, 0, 0.2);
}

.mat-nav-list .sidenav-item-selected:hover, .toolbar-item-selected:hover {
  background: rgba(0, 0, 0, 0.4);
}

.logo-menu-container {
  padding: 25px;
  justify-content: center;
}

.logo-menu-container .logo-menu {
  width: 150px;
}
