<mat-toolbar class="toolbarColor">
    <button mat-icon-button class="icon" (click)="drawer.toggle()"> 
        <mat-icon>menu</mat-icon> 
    </button>
    <button mat-button routerLink="/list-festival-component" routerLinkActive="toolbar-item-selected">Festivals</button>
    <button mat-button routerLink="/test2-component" routerLinkActive="toolbar-item-selected">Jeux</button>
    <button mat-button routerLinkActive="toolbar-item-selected">Editeurs</button>
    <button mat-button routerLinkActive="toolbar-item-selected">Organisateurs</button>
    
    <span class="spacer"></span>
    <button mat-button>
        <mat-icon>logout</mat-icon>
        Logout
    </button>
</mat-toolbar>
  
<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened="true">
        <div class="sidenav-title">
            Festival 2021
        </div>
        <mat-nav-list role="navigation">
            <a mat-list-item routerLinkActive="sidenav-item-selected" routerLink="/test">
                <mat-icon class="sidenav-icon">extension</mat-icon>
                Jeux
            </a>
            <a mat-list-item routerLinkActive="sidenav-item-selected">
                <mat-icon class="sidenav-icon">assignment</mat-icon>
                Réservations
            </a>
            <a mat-list-item routerLinkActive="sidenav-item-selected">
                <mat-icon class="sidenav-icon">receipt_long</mat-icon>
                Factures
            </a>
            <a mat-list-item routerLinkActive="sidenav-item-selected">
                <mat-icon class="sidenav-icon">place</mat-icon>
                Zones
            </a>
            <a mat-list-item routerLinkActive="sidenav-item-selected">
                <mat-icon class="sidenav-icon">groups</mat-icon>
                Editeurs
            </a>
        </mat-nav-list>
        <span class="spacer"></span>
        <div class="logo-menu-container">
            <img src="../../assets/image/logo_FDJ_FINAL_800.png" class="logo-menu">
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet>

        </router-outlet>
    </mat-drawer-content>
</mat-drawer-container>