<mat-toolbar class="toolbarColor">
    <div [@menuState]="position">
        <button mat-icon-button class="icon" (click)="drawer.toggle()" (click)="changePosition()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <button mat-button routerLinkActive="toolbar-item-selected" routerLink="/festivals" *ngIf="connected | async">Festivals</button>
    <button mat-button routerLinkActive="toolbar-item-selected" routerLink="/jeux" *ngIf="connected | async">Jeux</button>
    <button mat-button routerLinkActive="toolbar-item-selected" routerLink="/editeurs" *ngIf="connected | async">Editeurs</button>
    <button mat-button routerLinkActive="toolbar-item-selected" routerLink="/organisateurs" *ngIf="connected | async">Organisateurs</button>
    <button mat-button routerLinkActive="toolbar-item-selected" routerLink="/contacts" *ngIf="connected | async">Contacts</button>

    <span class="spacer"></span>

    <button mat-button *ngIf="connected | async" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Se déconnecter
    </button>
    <button mat-button routerLink="/connexion" *ngIf="!(connected | async)">
        <mat-icon>login</mat-icon>
        Se connecter
    </button>
</mat-toolbar>

<mat-drawer-container class="sidenav-container" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened="true">
        <div class="sidenav-title">
            Festival 2021
        </div>
        <mat-nav-list role="navigation">
            <a mat-list-item routerLinkActive="sidenav-item-selected" routerLink="/festival-jeux">
                <mat-icon class="sidenav-icon">extension</mat-icon>
                Jeux
            </a>
            <a mat-list-item routerLinkActive="sidenav-item-selected" routerLink="/festival-reservations" *ngIf="connected | async">
                <mat-icon class="sidenav-icon">assignment</mat-icon>
                Réservations
            </a>
            <a mat-list-item routerLinkActive="sidenav-item-selected" *ngIf="connected | async">
                <mat-icon class="sidenav-icon">receipt_long</mat-icon>
                Factures
            </a>
            <a mat-list-item routerLinkActive="sidenav-item-selected" routerLink="/festival-zones">
                <mat-icon class="sidenav-icon">place</mat-icon>
                Zones
            </a>
            <a mat-list-item routerLinkActive="sidenav-item-selected" routerLink="/festival-editeurs">
                <mat-icon class="sidenav-icon">groups</mat-icon>
                Editeurs
            </a>
        </mat-nav-list>
        <span class="spacer"></span>
        <div class="logo-menu-container">
            <img src="../../assets/image/logo_FDJ_FINAL_800.png" class="logo-menu">
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet>

        </router-outlet>
    </mat-drawer-content>
</mat-drawer-container>