<mat-toolbar class="toolbarColor">
    <button mat-icon-button class="icon" (click)="drawer.toggle()"> 
        <mat-icon>menu</mat-icon> 
    </button>
    <button  mat-button>Festivals</button>
    <button  mat-button>Jeux</button>
    <button  mat-button>Editeurs</button>
    <button  mat-button>Organisateurs</button>
    <span class="spacer"></span>
    <button mat-button><mat-icon> logout </mat-icon>Logout</button>


</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="sidenavDiv"> 
            <p>Festival 2021</p>
        </div>
    </mat-drawer>
</mat-drawer-container>