<div class="festival-list">

  <div class="festival-list-header">
    <h2>Listes des festivals :</h2>
    <span class="spacer"></span>
    <button mat-button (click)="openAddFestivalDialog()">
      <mat-icon class="green-icon">add_box</mat-icon>
    </button>
  </div>

  <div class="card-container">
    <div *ngFor="let festival of festivals">

      <mat-card class="publisher-card">

        <mat-card-header>
          <mat-card-title>{{festival.name}} - {{festival.date | date: 'MM/yyyy'}}</mat-card-title>
          <span class="spacer"></span>
          <button mat-icon-button (click)="openUpdateFestivalDialog(festival)">
            <mat-icon class="green-icon">edit</mat-icon>
          </button>
        </mat-card-header>

        <mat-card-content>
          <app-festival-price-list [festivalId]="festival.id"></app-festival-price-list>
        </mat-card-content>

        <mat-card-actions>

        </mat-card-actions>

      </mat-card>

    </div>
  </div>

</div>