
<h3>Data</h3>
<div>
  <mat-grid-list cols="2" rowHeight="2.5:1">
    <mat-grid-tile >
      <button (click)= "showConfig_v2()">get data</button>
  <span *ngIf="listfestivals">
    <p>Id : {{listfestivals.id}}</p>
    <p>Name : "{{listfestivals.name}}"</p>
    <p>Date : "{{listfestivals.date}}"</p>
    <p>Current Festival ? {{listfestivals.isActive}}</p>
  </span>
 
    </mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>

</div>

