mat-grid-tile {
  background-color: rgba(145, 216, 238, 0.3);
  }
  .addFestival{
    display: flex;
    justify-content: center;
}
button.addFestival{
  background-color: rgba(125, 220, 146, 0.7);
}

.mat-grid:hover{
    background-color: rgba(145, 216, 238, 0.4);
  }
  td {
    padding-right: 8px;
  }