
<ul >
    <mat-grid-list class="p" cols="1" rowHeight="4.2:1">
        <mat-grid-tile class ="mat-grid" > 
    <span *ngFor="let organisator of organisators">
         {{organisator.username}}
        <button mat-raised-button color="primary" (click)="openDialog2()">Modifier</button> 
        <button mat-raised-button color="warn">Supprimer</button> 

    </span>
</mat-grid-tile>
</mat-grid-list>
</ul>
<div class="addUser">
    <button mat-button class="addUser" (click)="openDialog()"> Ajouter un Organisateur</button>
  </div>