<div class="reservation-list">
  <div class="reservation-list-header">
      <mat-form-field class="reservation-list-filter">
          <mat-label>Filtre :</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Editeur" #input>
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-button (click)="openAddDialog()">
          <mat-icon class="green-icon">add_box</mat-icon>
      </button>
  </div>


  <div class="mat-elevation-z4">
      <table mat-table [dataSource]="reservations" matSort class="reservation-list-table">
          <ng-container matColumnDef="Editeur/Exposant">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Editeur/Exposant</th>
              <td mat-cell *matCellDef="let reservation">{{reservation.companyName}}</td>
          </ng-container>

          <ng-container matColumnDef="Présent">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Présent</th>
              <td mat-cell *matCellDef="let reservation" [ngStyle]="{color: reservation.isPresent ? 'green' : 'red'}">{{reservation.isPresent | yesNo}}</td>
          </ng-container>

          <ng-container matColumnDef="Placé">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Placé</th>
            <td mat-cell *matCellDef="let reservation" [ngStyle]="{color: reservation.isPlaced ? 'green' : 'red'}">{{reservation.isPlaced | yesNo}}</td>
        </ng-container>

        <ng-container matColumnDef="Besoin de volontaires">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Besoin de volontaires</th>
          <td mat-cell *matCellDef="let reservation" [ngStyle]="{color: reservation.needVolunteers ? 'green' : 'red'}">{{reservation.needVolunteers | yesNo}}</td>
      </ng-container>

      <ng-container matColumnDef="icons" class="hide-header">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let reservation" >
            <button mat-icon-button>
                <mat-icon class="blue-icon">article</mat-icon>
            </button>
            <button mat-icon-button (click)="openDeleteDialog(reservation)">
                <mat-icon class="red-icon">delete</mat-icon>
            </button>
        </td>
    </ng-container>

         

          <tr mat-header-row *matHeaderRowDef="columns" class="list-header"></tr>
          <tr mat-row *matRowDef="let reservation; columns: columns;" class="list-raw"></tr>

          <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="9">Aucune donnée ne correspond au filtre "{{input.value}}"</td>
          </tr>
      </table>
  </div>
</div>