/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
  }

.-overflow-hidden {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.snackbar-success {
  background: green;
  color: white;
}

.mat-snack-bar-container {
  text-align: center;
}

.mat-simple-snackbar {
  display: inline-block !important;
}
