<h1 mat-dialog-title>Ajouter un jeu :</h1>

<form [formGroup]="confirmForm" (ngSubmit)="updateGame()">
    <mat-dialog-content>

        <div class="game-form">

        <mat-form-field appearance="fill" hideRequiredMarker="true" class="game-form-field">
            <mat-label>Nom</mat-label>
            <input matInput required formControlName="name" name="name">
        </mat-form-field> 

        <mat-form-field appearance="fill" hideRequiredMarker="true" class="game-form-field">
            <mat-label>Durée</mat-label>
            <input matInput required formControlName="duration" name="duration">
        </mat-form-field>

        </div>

        <div class="game-form">

        <mat-form-field appearance="fill" hideRequiredMarker="true" class="game-form-field-long">
            <mat-label>Notice</mat-label>
            <input matInput required formControlName="notice" name="notice">
        </mat-form-field>
        </div>

        <div class="game-form">
        <mat-form-field appearance="fill" hideRequiredMarker="true" class="game-form-field">
            <mat-label>Joueurs minimum</mat-label>
            <input type="number" matInput required formControlName="minPlayers" name="minPlayers">
        </mat-form-field>

        <mat-form-field appearance="fill" hideRequiredMarker="true " class="game-form-field">
            <mat-label>Joueurs maximum</mat-label>
            <input type="number" matInput required formControlName="maxPlayers" name="maxPlayers">
        </mat-form-field>
        </div>

        <div class="game-form">

        <mat-form-field appearance="fill" hideRequiredMarker="true" class="game-form-field">
            <mat-label>Age minimum</mat-label>
            <input type="number" matInput required formControlName="minAge" name="minAge">
        </mat-form-field>

        <mat-form-field appearance="fill" hideRequiredMarker="true" class="game-form-field">
            <mat-label>Age maximum</mat-label>
            <input type="number" matInput required formControlName="maxAge" name="maxAge">
        </mat-form-field>
        </div>

        <div class="game-form">

        <mat-form-field appearance="fill" hideRequiredMarker="true" class="game-form-field">
            <mat-label>Editeurs</mat-label>
            <mat-select required formControlName="publisherId">
                <mat-option *ngFor="let editeur of editeurs.sort()" [value]="editeur.id">
                    {{editeur.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" hideRequiredMarker="true">
            <mat-label>Type</mat-label>
            <input matInput required formControlName="gameType" name="gameType" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let gameType of filteredGameTypes | async" [value]="gameType">
                    {{gameType}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>

        </div>

        <mat-label>Prototype</mat-label>
        <mat-checkbox required formControlName="isPrototype" name="isPrototype"></mat-checkbox>

        

        

        <div *ngIf="error" class="error">{{ error }}</div>

    </mat-dialog-content>
    <mat-dialog-actions align="end">

        <button type="submit" mat-flat-button color="primary" cdkFocusInitial>
            Ajouter un jeu
        </button>

    </mat-dialog-actions>
</form>