<div class="container">
<div *ngIf="(data.isPublisher && !data.isExhibitor); else exhibitor">
    <h2>Jeux</h2>
    <mat-list >
        <div *ngFor="let game of games">
        <mat-list-item > {{game.name}} : {{game.gameType}}
        <mat-divider></mat-divider>
        </mat-list-item>
        </div>
    </mat-list>
</div>
<ng-template #exhibitor>
    <div *ngIf="(!data.isPublisher && data.isExhibitor); else both">
        <h2>Contacts</h2>
        <mat-list >
            <div *ngFor="let contact of contacts">
                <mat-list-item > {{contact.firstname}}  {{contact.lastname}}
                <mat-divider></mat-divider>
                </mat-list-item>
            </div>
        </mat-list>
    </div>
    <ng-template #both>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Jeux">
                <mat-list >
                    <div *ngFor="let game of games">
                        <mat-list-item > {{game.name}} : {{game.gameType}}
                        <mat-divider></mat-divider>
                        </mat-list-item>
                        </div>
                  </mat-list>
            </mat-tab>
            <mat-tab label="Contacts">
                <mat-list >
                    <div *ngFor="let contact of contacts">
                        <mat-list-item > {{contact.firstname}}  {{contact.lastname}}
                        <mat-divider></mat-divider>
                        </mat-list-item>
                    </div>
                  </mat-list>
            </mat-tab>
        </mat-tab-group>
    </ng-template>
</ng-template>
</div>

