.example-card {
    max-width: 150px;
    max-height: 250px;
    margin: 20px;
    background-color: rgba(145, 216, 238, 0.3);
    box-shadow: none;
    
  }

  .example-card:hover{
    background-color: rgba(145, 216, 238, 0.4);
  }

  .seeGames{
    padding-left: 7%;
  }
  .spacer{
    flex: 1 1 auto; 
  }

  .container{
    display: flex;
    justify-content: left;
  }
  
  .green-icon {
    color: green;
}